<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="かんたん文字コード変換.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <かんたん文字コード変換.My.MySettings>
            <setting name="ConvertType" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="NewLineType" serializeAs="String">
                <value>CRLF</value>
            </setting>
            <setting name="OutputOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearAfterConvert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseExtEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExtList" serializeAs="String">
                <value>txt,csv,log,md,json,xml,yaml,ini
</value>
            </setting>
        </かんたん文字コード変換.My.MySettings>
    </userSettings>
</configuration>
